//@import '../_variables';
body{
    width:100%;
}
.carousel{
    margin:10px 30px;
    
    border: 1px solid rgb(253, 250, 250);
    //border-radius: 20px;
    //padding:1px;
.carousel-item{
    .carousel-caption{
        color: rgb(63, 56, 56);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        
    }
}
    }
    h2{
        color:white;
        background-color: rgb(20, 159, 194);
        font-family: lato;
        padding:20px;
    }
    .contact{
        background-color:rgb(241, 94, 94);
       // border: 1px solid rgb(255, 159, 175);
        width:100%;
        border: none;
        .card-header{
            color:rgb(255, 255, 255);
            border: none; 
            background-color:rgb(241, 94, 94);

           
            h6{
                color:rgb(255, 255, 255);
                font-family:lato;
                background-color:rgb(241, 94, 94);
                border: none;
            }
        }
        .card-body{
           
            /*.input[type=text] {
                border: 2px solid red;
                border-radius: 4px;
                background-color: #3CBC8D;
                color: white;
              }*/
              width:100%;
              .btn{
                background-color: rgb(255, 255, 255);
                color:rgb(255, 96, 123);
                border: none;
                height: 40px;
                width:80px;
                border-radius: 20px;
              }
        }
        .card-footer{
            .nav-link{
                color:white;
                font-size: 14px;
            }
        }
        
    }
        
        
 